use_DaijiJa.ipynb
__pycache__/DaijiTest.cpython-39.pyc
DaijiJa/__pycache__/__init__.cpython-39.pyc
DaijiJa/__pycache__/DaijiJa.cpython-39.pyc
build/lib/DaijiJa/daijija.py
build/lib/DaijiJa/__init__.py
